In [17]:
import pandas as pd

In [14]:
df_neutor = pd.read_csv("/Users/danielzellner/Documents/Studium/Bachelorthesis/src/verkehr_data/df_neutor.csv")
df_neutor = pd.DataFrame(df_neutor)

In [15]:
df_neutor

,Datum,Zeit,Neutor (gesamt),Neutor FR stadteinwärts,Neutor FR stadtauswärts,Wetter,Temperatur (°C),Luftfeuchtigkeit (%),Regen (mm),Wind (km/h),Semesterferien,Feiertage,Ferien
0,2018-01-01,00:00:00,71.0,26.0,45.0,Leichter Regenfall,10.0,83.0,1.0,26.0,0,1,0
1,2018-01-01,01:00:00,67.0,35.0,32.0,Leichter Regenfall,9.0,81.0,1.0,27.0,0,1,0
2,2018-01-01,02:00:00,123.0,53.0,70.0,Mäßiger Regenfall,9.0,79.0,1.0,29.0,0,1,0
3,2018-01-01,03:00:00,171.0,64.0,107.0,Mäßiger Regenfall,8.0,77.0,0.0,31.0,0,1,0
4,2018-01-01,04:00:00,102.0,26.0,76.0,Mäßiger Regenfall,8.0,75.0,0.0,32.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43814,2022-12-31,18:00:00,365.0,173.0,192.0,Bewölkt,16.0,72.0,0.0,38.0,0,0,1
43815,2022-12-31,19:00:00,303.0,164.0,139.0,Bewölkt,16.0,70.0,0.0,37.0,0,0,1
43816,2022-12-31,20:00:00,207.0,102.0,105.0,Leicht bewölkt,16.0,69.0,0.0,36.0,0,0,1
43817,2022-12-31,21:00:00,149.0,83.0,66.0,Leicht bewölkt,15.0,67.0,0.0,36.0,0,0,1
43818,2022-12-31,22:00:00,120.0,71.0,49.0,Leicht bewölkt,15.0,65.0,0.0,35.0,0,0,1

In [9]:
#https://www.kaggle.com/code/parulpandey/a-guide-to-handling-missing-values-in-python

def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

missing_values = missing_values_table(df_neutor)
missing_values

Your selected dataframe has 13 columns.
There are 7 columns that have missing values.

                         Missing Values  % of Total Values
Neutor FR stadtauswärts            2811                6.4
Neutor FR stadteinwärts            1288                2.9
Neutor (gesamt)                    1259                2.9
Temperatur (°C)                       3                0.0
Luftfeuchtigkeit (%)                  3                0.0
Regen (mm)                            3                0.0
Wind (km/h)                           3                0.0

In [19]:
df_neutor['Semesterferien'] = df_neutor['Semesterferien'].astype(bool)
df_neutor['Feiertage'] = df_neutor['Feiertage'].astype(bool)
df_neutor['Ferien'] = df_neutor['Ferien'].astype(bool)

## Linear Inputation

In [20]:
numeric_columns = ['Neutor (gesamt)', 'Neutor FR stadteinwärts', 'Neutor FR stadtauswärts',
                   'Temperatur (°C)', 'Luftfeuchtigkeit (%)', 'Regen (mm)', 'Wind (km/h)']
df_neutor[numeric_columns] = df_neutor[numeric_columns].interpolate(method='linear')

In [21]:
missing_values = missing_values_table(df_neutor)
missing_values

Your selected dataframe has 13 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []